/*#container {
	background-image:url('');
	} 
*/
.innertext {

	font-family: 'PT Sans', sans-serif;
	font-size: 12pt;
	overflow: auto;
}

.title {
	font-weight: bold;
	font-size: 14pt;
}

.byline {
	font-style: italic;
}

.sport {
	font-size: 16pt;
	font-family: 'Sansita One', cursive;
}

.pic {
	width: 220px;
}

#01 {
	font-size: 36pt;
	font-family: 'Sansita One', cursive;
	position: relative;
	text-align: center;
	z-index: 1;
}

.scroll {
	height: 300px;
	width: 130px;
	overflow-y: scroll;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.scrollfix {
	height: 373px;
	width: 130px;
	padding-left: 30px;
}

.arrowbox {
	outline-color: black;
	outline-style: solid;
	outline-width: 1.5px;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.name {
	color: orange;
}

#introimage {
	width: 500px;
	padding-top: 20px;
}

.imgvert {
	height: 210px;
	width: 140px;
	padding-top: 8px;
}

.imghoriz {
	height: 150px;
	width: 225px;
	padding-top: 20px;
}

.col1horiztab {
	top: 200px;
	position: absolute;
}

.col1horiztabnew {
	top: 170px;
	position: absolute;
}

.col1horiz {
	width: 250px;
	left: 195px;
	position: absolute;
	top: 173px;
}

.col1horiznew {
	width: 250px;
	left: 195px;
	position: absolute;
	top: 210px;
}

.arrow {
	width: 14px;
}

.statename2 {
	padding-bottom: 7px;
}

.col2horiz {
	position: absolute;
	width: 300px;
	left: 460px;
}

.col1vert {
	width: 340px;
	left: 195px;
	position: absolute;
	top: 173px;
}

.col1verttab {
	top: 125px;
	position: absolute;
}

.col2vert {
	position: absolute;
	width: 400px;
	left: 550px;
}

.col2horiznew {
	position: absolute;
	width: 300px;
	left: 460px;
	top: 200px;
}

.col1vertnew {
	width: 340px;
	left: 195px;
	position: absolute;
	top: 228px;
}

.col1verttabnew {
	top: 186px;
	position: absolute;
}

.col2vertnew {
	position: absolute;
	width: 400px;
	left: 550px;
}

.fullbox {
	width: 700px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 22px;
	color: #8a1f1d;
	padding-left: 29px;
	width: 680px;
}

.statename {
	color: black;
}

.statename:hover {
	text-decoration:underline;
	color: #8b4b1e;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	width: 510px;
}

#courtesy {
	font-family: 'Roboto', sans-serif;
}

.life {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 12px;
	vertical-align: middle;
}

.bio {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	vertical-align: middle;
}

.name {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

.statueinfo {
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 140px;
	
}

.statueinfohoriz {
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 225px;
	
}

.arrowbig {
	height: 17px;
}




